.leftcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;


}
.leftjects{
  position: absolute;
  left: 8px;
  width: 55%;
justify-content: center;
}
body {
    display: flex;
}

#social {
    max-width: 100%;
    height: auto;
}

.sidemenu {
    position: absolute;
    left: 8px;
    width: 55%;
    justify-content: center;
}

iframe {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 30%;
    bottom: 0px;
}

a {
    align-items: flex-end;
    height: 20em;
}

#right {
  padding: 20px;
    position: absolute;
    right: 8px;
    justify-content: left;
    float: right;
    width: 45%;
    height: 55em;
    background-color: black;
}

.form {
    position: absolute;
    right: 8px;
    justify-content: left;
    float: right;
    width: 45%;
    height: 100%;
    background-color: black;
}


}

}
#left {
    position: absolute;
    left: 8px;
    width: 55%;
    justify-content: center;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}
a {
    text-decoration:none;
}
h3 {
    font-family: 'Permanent Marker', cursive;
    color: red;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    font-family: 'futura', cursive;
    color: white;
    font-size: 1em;
    background-color: black;
}
h4 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 1em;
}
.content1 {
    padding: 0px 20px 50px 20px;
    background-color: black;
}
.header1 {
    font-family: 'Permanent Marker', cursive;
    color: black;
}
.header1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.contact1 {
    color: black;
    margin-right:inherit;
    font-family: 'Permanent Marker', cursive;
}
.gallery1 {
    color: black;
    margin-left: inherit;
    font-family: 'Permanent Marker', cursive;
}
.body1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.logo1 {
    color: white;
    margin: 20px;
    width:235px;
    height:235px;
    border: 4px solid black;
}
.item1 {
    color: black;
    text-align: center;
    width :50%;
    font-weight: 600;
}
.logo1 {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.footer1 {
    font-family: 'Permanent Marker', cursive;
    color:black;
}
.footer1 {
    display: flex;
    justify-content: center;
}

/*scroll up button*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}





}
